<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Restaurant Login</h1>
                    <h5>Feel Free To Login</h5><hr>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="logIn()">
                    <div class="mb-3">
                        <label class="form-label">Email<span class="text-danger">*</span></label>
                        <input formControlName="email" type="email" class="form-control" [ngClass]="{'input-error': isEmail()}">
                        <div class="error">
                            Email is required.
                          </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password<span class="text-danger">*</span></label>
                        <input formControlName="password" maxlength="50" type="password" class="form-control" [ngClass]="{'input-error': isPassword()}">
                        <div class="error">
                            Password is required.
                          </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <a style="color: blue; margin-top : 10px" [routerLink]="['/signup']" routerLinkActive="router-link-active" >New User ? Click to Signup !</a>
            </div>
        </div>
    </div>
</div>
